<div class="biz-listing-large"><div class="main-attributes">
        <div class="media-block media-block--12">
            <div class="media-avatar">
                <div class="photo-box pb-90s">
                    <a href="/biz/metro-diner-gainesville">
                        <img alt="Metro Diner" class="photo-box-img" height="90" width="90">
                    </a>
                </div>
            </div>
            <div class="media-story">
                <h3 class="search-result-title">
                    <span class="indexed-biz-name">
                        1.         <a class="biz-name" href="/biz/metro-diner-gainesville" data-hovercard-id="d1yUJjjeOhBVc1y512iLOg"><span>Metro Diner</span></a>
                    </span>
                </h3>
                <div class="biz-rating biz-rating-large clearfix">
                    <div class="rating-large">
                        <i class="star-img stars_4_half" title="4.5 star rating">
                            <img class="offscreen" height="303" src="//s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c2252a4cd43e/assets/img/stars/stars_map.png" width="84" alt="4.5 star rating">
                        </i>
                    </div>
                    <span class="review-count rating-qualifier">
                        42 reviews
                    </span>
                </div>
                <div class="price-category">
                    <span class="bullet-after">
                        <span class="business-attribute price-range">$$</span>
                    </span>
                    <span class="category-str-list">
                        <a href="/search?find_desc=Restaurants&amp;find_loc=Gainesville%2C+FL&amp;cflt=diners">Diners</a>
                    </span>
                </div>
                <ul class="search-result_tags">
                    <li class="tag-tag-hot-and-new">
                        <small class="i-wrap ig-wrap-common i-tag-hot-and-new-common-wrap"><i class="i ig-common i-tag-hot-and-new-common"></i> Opened 2 months ago</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="secondary-attributes">
        <address>
            2130 SW 34th St<br>Gainesville, FL 32608
        </address>
        <span class="offscreen">Phone number</span>
        <span class="biz-phone">
            (352) 353-2889
        </span>
    </div>
</div>